Repository typelevel/feral: changes, and which Mergify rules are due for each by the changed paths.
All: Label examples PRs, Label google-cloud-http4s PRs, Label input PRs, Label lambda PRs, Label lambda-cloudformation-custom-resource PRs, Label lambda-http4s PRs, Label lambda-natchez PRs, Label lambda-otel4s PRs, Label output PRs, Label rules PRs, Label sbt-lambda PRs, Label tests PRs, Label unidocs PRs

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label google-cloud-http4s PRs:
  label:
    add:
    - google-cloud-http4s
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label lambda PRs:
  label:
    add:
    - lambda
    remove: []

Label lambda-cloudformation-custom-resource PRs:
  label:
    add:
    - lambda-cloudformation-custom-resource
    remove: []

Label lambda-http4s PRs:
  label:
    add:
    - lambda-http4s
    remove: []

Label lambda-natchez PRs:
  label:
    add:
    - lambda-natchez
    remove: []

Label lambda-otel4s PRs:
  label:
    add:
    - lambda-otel4s
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label sbt-lambda PRs:
  label:
    add:
    - sbt-lambda
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

Update example
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Fix munit-cats-effect dependency reference
  build.sbt
Due: none

Fix fixture
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

fix deprecation
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Update mergify
  .mergify.yml
Due: none

Bump
  build.sbt
Due: none

fmt
  build.sbt
Due: none

Fix lambda plugin scala version
  sbt-lambda/src/sbt-test/lambda-js-plugin/iolambda-simple/build.sbt
Due: Label sbt-lambda PRs

Add CognitoUserPoolEvent models
  lambda/shared/src/main/scala/feral/lambda/events/CognitoUserPoolEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/CognitoUserPoolEventSuite.scala
Due: Label lambda PRs

Remove unused model
  lambda/shared/src/test/scala/feral/lambda/events/CognitoUserPoolEventSuite.scala
Due: Label lambda PRs

Remove doc links
  lambda/shared/src/main/scala/feral/lambda/events/CognitoUserPoolEvent.scala
Due: Label lambda PRs

Add comment explaining semanticdb
  build.sbt
Due: none

more semantic conventions
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSource.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaContextAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/OtelAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/OtelAttributesTest.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Fix unused import
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
Due: Label lambda-otel4s PRs

bump otel4s
  build.sbt
  project/plugins.sbt
Due: none

Bump to 1.0.0
  build.sbt
Due: none

Change input implicit to TracerProvider
  build.sbt
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label examples PRs, Label lambda-otel4s PRs

Fix tupling
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

fix: add header to files
  build.sbt
  examples/jvm/src/main/scala/feral/examples/StackDriverLogging.scala
  examples/jvm/src/main/scala/feral/examples/SubscribeToTopic.scala
  examples/jvm/src/test/scala/feral/examples/StackDriverLoggingTest.scala
  examples/jvm/src/test/scala/feral/examples/SubscribeToTopicTest.scala
  examples/jvm/src/test/scala/feral/examples/util/TestLogHandler.scala
Due: Label examples PRs

fix: unambigious reference
  google-cloud/jvm/src/test/scala/feral/google-cloud/IOCloudEventFunctionSuite.scala
Due: none

Path conditions:
  Label examples PRs: any of: ^examples/
  Label google-cloud-http4s PRs: any of: ^google-cloud-http4s/
  Label input PRs: any of: ^scalafix/input/
  Label lambda PRs: any of: ^lambda/
  Label lambda-cloudformation-custom-resource PRs: any of: ^lambda-cloudformation-custom-resource/
  Label lambda-http4s PRs: any of: ^lambda-http4s/
  Label lambda-natchez PRs: any of: ^lambda-natchez/
  Label lambda-otel4s PRs: any of: ^lambda-otel4s/
  Label output PRs: any of: ^scalafix/output/
  Label rules PRs: any of: ^scalafix/rules/
  Label sbt-lambda PRs: any of: ^sbt-lambda/
  Label tests PRs: any of: ^scalafix/tests/
  Label unidocs PRs: any of: ^unidocs/
