Repository typelevel/feral: changes, and which Mergify rules are due for each by the changed paths.
All: Label examples PRs, Label google-cloud-http4s PRs, Label input PRs, Label lambda PRs, Label lambda-cloudformation-custom-resource PRs, Label lambda-http4s PRs, Label output PRs, Label rules PRs, Label sbt-lambda PRs, Label tests PRs, Label unidocs PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Test (ubuntu-22.04, 2.12, corretto@11, rootSbtScalafix)
  - status-success=Test (ubuntu-22.04, 3, corretto@11, rootJS)
  - status-success=Test (ubuntu-22.04, 3, corretto@11, rootJVM)
  - status-success=Test (ubuntu-22.04, 2.13, corretto@11, rootJS)
  - status-success=Test (ubuntu-22.04, 2.13, corretto@11, rootJVM)
  - status-success=Test (ubuntu-22.04, 2.13, corretto@17, rootJVM)
  actions:
    merge: {}
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label google-cloud-http4s PRs
  conditions:
  - files~=^google-cloud-http4s/
  actions:
    label:
      add:
      - google-cloud-http4s
      remove: []
- name: Label input PRs
  conditions:
  - files~=^scalafix/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label lambda PRs
  conditions:
  - files~=^lambda/
  actions:
    label:
      add:
      - lambda
      remove: []
- name: Label lambda-cloudformation-custom-resource PRs
  conditions:
  - files~=^lambda-cloudformation-custom-resource/
  actions:
    label:
      add:
      - lambda-cloudformation-custom-resource
      remove: []
- name: Label lambda-http4s PRs
  conditions:
  - files~=^lambda-http4s/
  actions:
    label:
      add:
      - lambda-http4s
      remove: []
- name: Label output PRs
  conditions:
  - files~=^scalafix/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^scalafix/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label sbt-lambda PRs
  conditions:
  - files~=^sbt-lambda/
  actions:
    label:
      add:
      - sbt-lambda
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^scalafix/tests/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label unidocs PRs
  conditions:
  - files~=^unidocs/
  actions:
    label:
      add:
      - unidocs
      remove: []

Update mergify
  .mergify.yml
Due: none

Add CloudWatchLogsEvent, SecretsManagerRotationEvent, CodeCommitEvent
  lambda/shared/src/main/scala/feral/lambda/events/CloudWatchLogsEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/CodeCommitEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/SecretsManagerRotationEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/CloudWatchLogsEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/CodeCommitEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/SecretsManagerRotationEventSuite.scala
Due: Label lambda PRs

Improve test coverage for CloudWatchLogs, CodeCommit, and SecretsManager events
  lambda/shared/src/test/scala/feral/lambda/events/CloudWatchLogsEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/CodeCommitEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/SecretsManagerRotationEventSuite.scala
Due: Label lambda PRs

Add ConfigEvent and IoTButtonEvent (issue #48)
  lambda/shared/src/main/scala/feral/lambda/events/ConfigEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/IoTButtonEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/ConfigEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/IoTButtonEventSuite.scala
Due: Label lambda PRs

Apply scalafmt to ConfigEventSuite and IoTButtonEvent
  lambda/shared/src/main/scala/feral/lambda/events/IoTButtonEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/ConfigEventSuite.scala
Due: Label lambda PRs

Add ApplicationLoadBalancer and CodeCommit Lambda event models (issue #48)
  lambda/shared/src/main/scala/feral/lambda/events/ApplicationLoadBalancerRequestEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/ApplicationLoadBalancerResponseEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/CodeCommitEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApplicationLoadBalancerRequestEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApplicationLoadBalancerResponseEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/CodeCommitEventSuite.scala
Due: Label lambda PRs

Add CloudWatchLogsEvent and SecretsManagerRotationEvent (part of #48)
  lambda/shared/src/main/scala/feral/lambda/events/CloudWatchLogsEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/SecretsManagerRotationEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/CloudWatchLogsEventSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/SecretsManagerRotationEventSuite.scala
Due: Label lambda PRs

feature: Added APIGatewayAuthorizerEvent & results
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerResult.scala
  lambda/shared/src/main/scala/feral/lambda/events/codecs.scala
  lambda/shared/src/test/scala/feral/lambda/events/APIGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: fixed formatting errors
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerResult.scala
Due: Label lambda PRs

fix: fixed formatting errors for test fils
  lambda/shared/src/test/scala/feral/lambda/events/APIGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: fixed linting errors for test fils
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/APIGatewayCustomAuthorizerResult.scala
  lambda/shared/src/main/scala/feral/lambda/events/codecs.scala
  lambda/shared/src/test/scala/feral/lambda/events/APIGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: changed results suite to use encoder
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayCustomAuthorizerResult.scala
  lambda/shared/src/main/scala/feral/lambda/events/codecs.scala
  lambda/shared/src/test/scala/feral/lambda/events/APIGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventSuite.scala
Due: Label lambda PRs

resolved CI errors
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEvent.scala
Due: Label lambda PRs

renamed requext context to avoid confusion
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayCustomAuthorizerResult.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventResultSuite.scala
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: header checks
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventResultSuite.scala
Due: Label lambda PRs

resolved CI error
  lambda/shared/src/test/scala/feral/lambda/events/ApiGatewayCustomAuthorizerEventResultSuite.scala
Due: Label lambda PRs

feature: added AppSynclambdaAuthroizer
  lambda/shared/src/main/scala/feral/lambda/events/AppSyncLambdaAuthorizerEvent.scala
  lambda/shared/src/test/scala/feral/lambda/events/AppSyncLambdaAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: headers
  lambda/shared/src/main/scala/feral/lambda/events/AppSyncLambdaAuthorizerEvent.scala
Due: Label lambda PRs

fix: CI errors resolved
  lambda/shared/src/test/scala/feral/lambda/events/AppSyncLambdaAuthorizerEventSuite.scala
Due: Label lambda PRs

fix: resolve scalaFixError
  lambda/shared/src/main/scala/feral/lambda/events/AppSyncLambdaAuthorizerEvent.scala
Due: Label lambda PRs

Extract lambda-natchez module
  .github/workflows/ci.yml
  build.sbt
  examples/shared/src/main/scala/feral/examples/Http4sLambda.scala
  examples/shared/src/main/scala/feral/examples/KinesisLambda.scala
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/AwsTags.scala
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/KernelSource.scala
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/TracedHandler.scala
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/package.scala
  lambda-natchez/shared/src/test/scala/feral/lambda/natchez/TracedHandlerSuite.scala
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayProxyEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/ApiGatewayProxyEventV2.scala
  lambda/shared/src/main/scala/feral/lambda/events/DynamoDbStreamEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/KinesisStreamEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/S3BatchEvent.scala
  lambda/shared/src/main/scala/feral/lambda/events/SqsEvent.scala
Due: Label examples PRs, Label lambda PRs

Remove natchez-core dependency from lambda module
  build.sbt
  examples/shared/src/main/scala/feral/examples/KinesisLambda.scala
  lambda/shared/src/main/scala/feral/lambda/events/SqsEvent.scala
Due: Label examples PRs, Label lambda PRs

Use SqsEvent for attributes, not SqsRecord
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/FaasAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: none

Add lambda-otel4s module
  .github/workflows/ci.yml
  build.sbt
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/FaasAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: none

Add otel4s TracedHandler tests
  build.sbt
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
Due: none

Add otel4s-sdk example
  build.sbt
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/FaasAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: Label examples PRs

Remove resolvers
  build.sbt
Due: none

Rework package structure
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSources.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: none

re-run prePR
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: Label examples PRs

prePR
  build.sbt
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSources.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: Label examples PRs

Swap tests from SDK to oteljava
  build.sbt
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label examples PRs

Run prePR
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label examples PRs

Add back extra JVM test
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: none

Add OtelJava JVM example
  build.sbt
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
  examples/shared/src/main/scala/feral/examples/Http4sLambda.scala
  examples/shared/src/main/scala/feral/examples/KinesisLambda.scala
  examples/shared/src/main/scala/feral/examples/SqsOtelExample.scala
Due: Label examples PRs

Update otel4s to 0.6.0
  build.sbt
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/FaasAttributes.scala
Due: none

Fix headers
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
Due: none

Simplify for-comp
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
Due: none

Remove semconv-experimental
  build.sbt
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/FaasAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
Due: none

Remove unused imports
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
Due: none

Add attributes for other events
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/Attributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSources.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
Due: Label examples PRs
