Repository typelevel/feral: changes, and which Mergify rules are due for each by the changed paths.
All: Label examples PRs, Label google-cloud-http4s PRs, Label input PRs, Label lambda PRs, Label lambda-cloudformation-custom-resource PRs, Label lambda-http4s PRs, Label lambda-natchez PRs, Label lambda-otel4s PRs, Label output PRs, Label rules PRs, Label sbt-lambda PRs, Label tests PRs, Label unidocs PRs

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label google-cloud-http4s PRs:
  label:
    add:
    - google-cloud-http4s
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label lambda PRs:
  label:
    add:
    - lambda
    remove: []

Label lambda-cloudformation-custom-resource PRs:
  label:
    add:
    - lambda-cloudformation-custom-resource
    remove: []

Label lambda-http4s PRs:
  label:
    add:
    - lambda-http4s
    remove: []

Label lambda-natchez PRs:
  label:
    add:
    - lambda-natchez
    remove: []

Label lambda-otel4s PRs:
  label:
    add:
    - lambda-otel4s
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label sbt-lambda PRs:
  label:
    add:
    - sbt-lambda
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Label unidocs PRs:
  label:
    add:
    - unidocs
    remove: []

Fix import order
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Add http4s-otel4s-middleware to example
  build.sbt
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

use otel4s-sdk-trace-testkit to run tests across all platforms
  build.sbt
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Move TracedHandlerSuite to JVM
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Remove unused imports
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Add JS TracedHandler suite
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
Due: Label lambda-otel4s PRs

Update base version
  build.sbt
Due: none

Swap module order
  build.sbt
Due: none

Update workflows
  build.sbt
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Fix TracedHandlerSuite class name
  lambda-natchez/shared/src/test/scala/feral/lambda/natchez/TracedHandlerSuite.scala
Due: Label lambda-natchez PRs

Update otel4s to 0.8
  build.sbt
Due: none

Remove unused import
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Format
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Swap List[Attribute[_]] to Attributes
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/Attributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSources.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
Due: Label lambda-otel4s PRs

Lambda otel4s: test span attributes
  build.sbt
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/Attributes.scala
Due: Label lambda-otel4s PRs

Add LambdaMessageAttributesTest
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaContextAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaMessageAttributes.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/LambdaContextAttributesTest.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/LambdaMessageAttributesTest.scala
Due: Label lambda-otel4s PRs

Add LambdaContextAttributes test
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaContextAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaMessageAttributes.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/LambdaContextAttributesTest.scala
Due: Label lambda-otel4s PRs

Remove unused import
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
Due: Label lambda-otel4s PRs

Deduplicate examples module settings keys
  build.sbt
Due: none

Remove _root_ from example imports
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Fix example
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Make otel4s attribute utilities package private
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSources.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaMessageAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
Due: Label lambda-otel4s PRs

Remove http4s-otel4s-middleware
  build.sbt
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Fix 0.9 bump
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaMessageAttributes.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/LambdaMessageAttributesTest.scala
Due: Label lambda-otel4s PRs

Bump otel to 0.9
  build.sbt
Due: none

Move KernelSources to KernelSource companion
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/KernelSource.scala
  lambda-natchez/shared/src/main/scala/feral/lambda/natchez/package.scala
Due: Label lambda-natchez PRs

Remove Event parameter from TracedHandler
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
Due: Label examples PRs, Label lambda-otel4s PRs

Add v0.4.0 rewrites for natchez module
  scalafix/rules/src/main/scala/feral/scalafix/V0_4_0Rewrites.scala
Due: Label rules PRs

Update workflows
  .github/workflows/ci.yml
Due: none

Use shared trace handler suite
  lambda-otel4s/js/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/jvm/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Split 0.3.0 and 0.4.0 rewrite rules into subprojects
  build.sbt
  scalafix/0_3_0/input/src/main/scala/example/V0_3_0Rewrites.scala
  scalafix/0_3_0/output/src/main/scala/example/V0_3_0Rewrites.scala
  scalafix/0_3_0/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/0_3_0/rules/src/main/scala/feral/scalafix/V0_3_0Rewrites.scala
  scalafix/0_3_0/tests/src/test/scala/feral/scalafix/RuleSuite.scala
  scalafix/0_4_0/input/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/0_4_0/output/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/0_4_0/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/0_4_0/rules/src/main/scala/feral/scalafix/V0_4_0Rewrites.scala
  scalafix/0_4_0/tests/src/test/scala/feral/scalafix/RuleSuite.scala
Due: none

Add scalafix v0.4.0 rewrite input/output
  scalafix/input/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/output/src/main/scala/example/V0_4_0Rewrites.scala
Due: Label input PRs, Label output PRs

Fix formatting
  scalafix/rules/src/main/scala/feral/scalafix/V0_4_0Rewrites.scala
Due: Label rules PRs

Fix scalafix 0.4.0 rewrites test
  build.sbt
  scalafix/0_4_0/input/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/0_4_0/output/src/main/scala/example/V0_4_0Rewrites.scala
Due: none

Remove 0.3.0 migrations
  .github/workflows/ci.yml
  build.sbt
  scalafix/0_3_0/input/src/main/scala/example/V0_3_0Rewrites.scala
  scalafix/0_3_0/output/src/main/scala/example/V0_3_0Rewrites.scala
  scalafix/0_3_0/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/0_3_0/rules/src/main/scala/feral/scalafix/V0_3_0Rewrites.scala
  scalafix/0_4_0/tests/src/test/scala/feral/scalafix/RuleSuite.scala
  scalafix/input/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/output/src/main/scala/example/V0_4_0Rewrites.scala
  scalafix/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/rules/src/main/scala/feral/scalafix/V0_4_0Rewrites.scala
  scalafix/tests/src/test/scala/feral/scalafix/RuleSuite.scala
Due: Label input PRs, Label output PRs, Label rules PRs, Label tests PRs

Remove unused examples imports
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Rename EventSpanAttributes -> EventAttributeSources
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributeSource.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventSpanAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/TracedHandler.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/package.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/TracedHandlerSuite.scala
Due: Label lambda-otel4s PRs

Add http4s-otel4s-middleware
  build.sbt
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
Due: Label examples PRs

Fix imports
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaContextAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/OtelAttributes.scala
Due: Label lambda-otel4s PRs

Simplify otel attributes file structure
  examples/jvm/src/main/scala/feral/examples/SqsOtelJavaExample.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/EventAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/LambdaContextAttributes.scala
  lambda-otel4s/shared/src/main/scala/feral/lambda/otel4s/OtelAttributes.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/LambdaMessageAttributesTest.scala
  lambda-otel4s/shared/src/test/scala/feral/lambda/otel4s/OtelAttributesTest.scala
Due: Label examples PRs, Label lambda-otel4s PRs

Path conditions:
  Label examples PRs: any of: ^examples/
  Label google-cloud-http4s PRs: any of: ^google-cloud-http4s/
  Label input PRs: any of: ^scalafix/input/
  Label lambda PRs: any of: ^lambda/
  Label lambda-cloudformation-custom-resource PRs: any of: ^lambda-cloudformation-custom-resource/
  Label lambda-http4s PRs: any of: ^lambda-http4s/
  Label lambda-natchez PRs: any of: ^lambda-natchez/
  Label lambda-otel4s PRs: any of: ^lambda-otel4s/
  Label output PRs: any of: ^scalafix/output/
  Label rules PRs: any of: ^scalafix/rules/
  Label sbt-lambda PRs: any of: ^sbt-lambda/
  Label tests PRs: any of: ^scalafix/tests/
  Label unidocs PRs: any of: ^unidocs/
